.wavy-lines-hidden {
  display: none !important;
}

.wavy-lines-visible {
  display: block !important;
}

.wavy-lines {
  transition: opacity 0.3s ease-in-out;
}

.wavy-lines.fade-out {
  opacity: 0;
}

.wavy-lines.fade-in {
  opacity: 1;
}
